{% extends "_layouts/auth.njk"%}

{% block body %}
    <form action="signup" method="post" enctype="multipart/form-data">
        <label for="avatar">
            <img src="images/avatar.svg" alt="Imagem de usuário padrão">
        </label>

        <input type="file" name="avatar" id="avatar">
        <input type="text" name="name" placeholder="Nome completo">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password", placeholder="Senha">

        <label for="provider">
            <input type="checkbox" name="provider" id = "provider" value="1">
            Sou barbeiro
        </label>

        <button type="submit">Criar conta</button>

        <a href="/">Já possuo conta</a>

        <script type="text/javascript">
            var avatarInput = document.getElementById('avatar')
            var img = document.querySelector('label[for=avatar] img')

            avatarInput.onchange = (e) => {
                img.classList.add('preview')
                img.src= URL.createObjectURL(e.target.files[0]);
            }
        </script>
    </form>
{% endblock %}
